<h1>Homepage</h1>
<h2>Here is the first contact on the Contacts List:</h2>
<h3> First Name: <%= @first_name%></h3>
<h3> Last Name: <%= @last_name%></h3>
<h3> Email Address: <%= @email_address%></h3>
<h3> Phone Number: <%= @phone_number%></h3>

<br>

<h2>Visit <a href="/all_contacts">this link</a> to see all contacts rendered on one page</h2>
<h2>Visit <a href="/contacts_separate_lines">this link</a> to see all contacts on separate lines</h2>