<h1>Homepage, Do You See This?</h1>
<br>
<h3>Here are some links:</h3>
<h4><a href="/name_page">Name Game</a></h4>
<h4><a href="/name_page2">Name Game With Ruby In HTML</a></h4>
<h4><a href="/guessing_game">Guessing Game</a></h4>
<h4><a href="/guessing_game2">Guessing Game 2</a></h4>
<h4><a href="url_segment_example">URL Segment Example</a></h4>
<h4><a href="/form_display">Forms Practice</a></h4>
<h4><a href="/guess_a_number_form">Guess A Number Form</a></h4>